<!-- /.container-fluid -->
<br />
<div class="card shadow mb-4 col-sm-6 offset-3">
    <br />
    <h1 class="h3 mb-4 text-gray-800">{{ pageTitle }}</h1>
    <div class="card-body">
        <form class="user" [formGroup]="addNewContactForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text"
                            class="form-control {{ submitted && f.name.errors ? 'is-invalid' : ''}}"
                            formControlName="name" placeholder="Name">
                        <small *ngIf="submitted && f.name.errors" class="invalid-feedback form-text text-danger">
                            <div *ngIf="f.name.errors.required">
                                This field is mandatory</div>
                            <div *ngIf="f.name.errors.maxlength">Name must be not more than 25 characters</div>
                            <div *ngIf="f.name.errors.minlength">Name must be at least 5 characters</div>
                        </small>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email"
                            class="form-control {{ submitted && f.email.errors ? 'is-invalid' : ''}}"
                            formControlName="email" placeholder="Email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.email.errors.required">
                                This field is mandatory</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div formArrayName="phones">
                        <label for="phone">Phone Numbers :</label> <button type="button" class="btn btn-success"
                            (click)="addPhone()"><i class="fas fa-plus"></i></button>

                        <div *ngFor="let item of f.phones.controls; let phoneIndex=index">
                            <div class="input-group" [formGroupName]="phoneIndex">
                                <input id="phone" type="text"
                                    class="form-control {{ submitted && item.controls.phone.errors ? 'is-invalid' : ''}}"
                                    formControlName="phone" placeholder="phone">
                                <div class="input-group-append">
                                    <button *ngIf="f.phones.controls.length > 1"  type="button" class="btn btn-danger" (click)="deletePhone(phoneIndex)"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div *ngIf="submitted && item.controls.phone.errors" class="invalid-feedback text-danger">
                                    <div *ngIf="item.controls.phone.errors.required">
                                        This field is mandatory</div>
                                    <div *ngIf="item.controls.phone.errors.minlength">Phone must be at least 11
                                        characters</div>
                                    <div *ngIf="item.controls.phone.errors.pattern" class="text-danger">Phone must be
                                        Number Only
                                    </div>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-user btn-block">
                Add <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i>
            </button>

        </form>
    </div>
</div>